<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Short story about how I got here.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1982</h4>
                                    <h4 class="subheading">Born in Madrid</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I was born in Spain long time ago. My father transmited me his enthusiasm for new technologies and taught me how to code in my Spectrum zx.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2000 - 2015</h4>
                                    <h4 class="subheading">3d artist and javascript developer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I studied Media and Communication and specialized in 3d art. After that I worked in different media jobs and I also made some web design</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2015</h4>
                                    <h4 class="subheading">Le Wagon Bootcamp</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Joining Le Wagon Rails Camp at Brussels was a great opportunity to get me on the right track for developing web apps. I rediscovered my real vocation.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 >Currently</h4>
                                    <h4 class="subheading">Creating web apps</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Since then I am creating web apps and working as a junior developer for different companies.</p>
                                </div>
                            </div>
                        </li>
                  </ul>
                </div>
            </div>
        </div>


    </section>