<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web app developer</h4>
                    <p class="text-muted">Just tell me about your project. Development in Ruby on Rails for prototypes and every kind of app.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Front end</h4>
                    <p class="text-muted">It's important to look great. Responsive design, UX and D3.js for data visualization. Knowledge of React framework</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cube fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">3d artist</h4>
                    <p class="text-muted">I also can create my own characters and give them life.</p>
                </div>
            </div>
            <div class="row" id="cv">
              {% for cv in site.tags.cv %}
                  <div class="col-lg-12 text-center portfolio-item">
                      <a href="#portfolioModal{{ cv.modal-id }}" class="portfolio-link" data-toggle="modal">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content">
                                  <i class="fa fa-plus fa-3x"></i>
                                  <h4>Check my CV and skills</h4>
                              </div>
                          </div>
                          <img src="img/portfolio/cv.jpg" class="img-responsive" alt="">
                      </a>
                      <!-- <div class="portfolio-caption"> -->
                          <!-- <p class="text-muted">{{ cv.subtitle }}</p> -->
                      </div>
                  </div>
              {% endfor %}
            </div>
        </div>
    </section>